html, body {
  margin: 0;
  padding: 0;
}

body{
  background-image: url("../img/cover.png");
}

a {
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input:focus{
  outline: none;
}

.wrapper {
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  background-color: black;
}

.icon{
  width: 40px;
  height: 37px;
}

.educational-company{
  display: flex;
  position: relative;
  text-align: center;
  justify-content: right;
  top: 40px;
}

.educational-company a{
  text-decoration: underline;
  font-family: "Montserrat" sans-serif;
  font-size: 20px;
  line-height: 26.35px;
  color: white;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: white;
  width: 800px;
  height: 550px;
  border-radius: 30px;
}

.form .password{
  margin-top: 50px;
}

.logo{
  display: block;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 70px;
  height: 70px;
  padding: 19.66px 20.84px 19.08px 21.5px;
}

.nav-links {
  display: flex;
  width: 550px;
  margin-bottom: 65px;
  margin-top: 30px;
  align-items: center;
  border-bottom: 3px solid #657E92;
}

.nav-links span{
  font-size: 40px;
  padding: 20px;
  margin-right: 50px;
}

.nav-links-active{
  color: #03B4FB;
  font-weight: 700;
}

.email{
  width: 500px;
  height: 30px;
  padding: 15px;
  font-size: 18px;
  border: 1px solid;
  border-radius: 100px;
}

.password{
  width: 500px;
  height: 30px;
  padding: 15px;
  font-size: 18px;
  border: 1px solid;
  border-radius: 100px;
}

.button{
  padding: 15px;
  margin-top: 60px;
  width: 531.6px;
  background-color: #03B4FB;
  color: white;
  transition: 0.3s;
  border-radius: 100px;
  font-size: 18px;
  border: none;
}

.button:hover{
  background-color: #0d6f97;
  color: #b7b7b7;
  cursor: pointer;
}

.forget-password{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}

.forget-password a{
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #737373;
}